@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins Medium";
  src: url(../font/Poppins-Medium.ttf);
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  min-width: 1400px;
}

.el-header {
  --el-menu-item-height: 84px;
  --el-menu-item-font-size: 18px;
}

.el-breadcrumb {
  --el-text-color-primary: #003153;
  padding: 50px 55px 40px;
}
